@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e6f7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    transition: all 0.3s ease-in-out;
}

h1 {
    color: #004d80;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #004d80;
}

input {
    width: 93%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #0073e6;
    border-radius: 8px;
    transition: border 0.3s;
    background-color: #f0f8ff;
}

input:focus {
    border-color: #004d80;
    outline: none;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #005bb5;
}

.resultado {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #004d80;
}

.resultado span {
    color: #0073e6;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 22px;
    }

    button {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    button {
        font-size: 12px;
    }
}
